{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New Article{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    New Article
                </div>
                <div class="card-block">
                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.content) }}
                    {{ form_row(form.submit) }}
                    {{ form_errors(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}